/*BASIC LAYOUT*/
main {
	display: flex;
}

@media(max-width: 768px) {
	main {
		flex-direction: column;
	}
}
/* THE REST OF THE THINGS */
html,
body {
	margin: 0;
	padding-right: 10px;
	padding-left: 10px;

	font-family: 'Montserrat', sans-serif;
}

ul {
	padding-left: 20px;

	list-style: none;
}
h1,
h2,
h3 {
	font-family: 'Noto Sans Mono', monospace;
}

/* CABECERA */
.imagenPerfil {
	float: left;

	height: 150px;
}

header {
	min-height: 170px;

	text-align: right;

	border-bottom: 1px solid #777777;
}

.tituloPrincipal {
	margin: 0;
	padding-top: 40px;

	color: #32474B;

	font-size: 58px;
}
.copy {
	margin: 0;
}
.copy span {
	padding: 2px;
	padding-right: 8px;
	padding-left: 8px;

	color: white ;
	border-radius: 3px;
	background: rgb(73, 186, 200);
	box-shadow: 0 10px 21px rgba(21, 118, 131, .5);
}
/* FORMACION */
.lateral {
	background: url(https://images.unsplash.com/photo-1517299321609-52687d1bc55a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2070&q=80);
	background-size: cover;
}

/* EXPERIENCIA PROFESIONAL */
.job {
	padding: 20px 10px;

	border-radius: 5px;
	box-shadow: 0 10px 21px rgba(21, 118, 131, .5);
}

.job__title {
	margin: 0;

	font-size: 30px;
}
.job__duration {
	color: #888888;
	border-bottom: 1px  dotted  rgb(73, 186, 200);

	font-style: italic;
}

.job.desc {
}

/*
selectores: el más importante el de clase .clase
margin: espacio exterior
padding: espacio interior
border
box-shadow
text-shadow
font-size
border-radius
font-family: usar una tipografía
background: #ff0000
background: url(http://rutadelaimgagen/foto.jpg)
background-size:contain/cover
text-align:
line-height
width
height
min-width
min-height
max-width
max-height




*/
